<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Java scripts -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="/framework2.0/App/js/script.js"></script>

    <!-- <script src="/App/js/script.js"></script> -->

    <title>$Title</title>

  </head>

  <body>

    <% include Header %>

    <div class="view">

      <% include $Layout %>

    </div>

  </body>

</html>