<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/framework2.0/App/css/styles.css">

    <!-- Java scripts -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <title>$Title</title>

  </head>

  <body>

    <div>

      <% include Header %>

    </div>

    <nav>

      <% include Navigation %>

    </nav>

    <div>

      <% include $Layout %>

    </div>

    <div>

      <% include Footer %>

    </div>

  </body>

</html>